@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #f99f1f;
}
.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.qpay-gradient {
  background: linear-gradient(
    35deg,
    rgba(253, 29, 29, 1) 40%,
    rgba(252, 176, 69, 1) 70%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  fill: transparent;
}

.blue__gradient {
  background: linear-gradient(
    180deg,
    rgba(252, 176, 69, 0.4) 25%,
    rgba(253, 29, 29, 8) 85%
  );
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(
    90deg,
    rgba(253, 29, 29, 1) 15%,
    rgba(252, 176, 69, 1) 50%
  );
  filter: blur(900px);
}

.white__gradient {
  background: rgba(253, 29, 29, 0.5);
  filter: blur(750px);
}

.scrolled {
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.download {
  background-image: linear-gradient(
    to right top,
    #ec1b24,
    #f24a1b,
    #f66a14,
    #f88512,
    #f99e1b
  );
  color: whitesmoke;
  padding: 2px 8px;
  border-radius: 6px;
  font-size: 14px;

  transition: 0.3s ease-in-out;
  transform-origin: left;
  border: 1px solid transparent;
}

.download:hover {
  background: transparent;
  color: #ec1b24;

  border: 1px solid #ec1b24;
}
/* Mega Menu */

.features-mega-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 90%;
  transform: translate(0%, -55%);
  left: 5%;
  top: 65px;
  transform-origin: top;
  transform: scaleY(0);
  transition: all 0.5s ease-in-out;
  z-index: 100;

  @media only screen and (min-width: 1700px) {
    width: 68%;
    transform: translate(0%, -66%);
    left: 16%;
  }
}

/* #hoverable Class Styles */
.feature-hoverable {
  position: static;
}

.feature-hoverable > a:after {
  content: "\25BC";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.feature-hoverable:hover .features-mega-menu {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
}

/* Help Mega Menu */
.help-mega-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 90%;
  transform: translate(0%, -55%);
  left: 5%;
  top: 65px;
  transform-origin: top;
  transform: scaleY(0);
  transition: all 0.5s ease-in-out;
  z-index: 100;

  @media only screen and (min-width: 1700px) {
    width: 68%;
    transform: translate(0%, -66%);
    left: 16%;
  }
}

/* #hoverable Class Styles */
.help-hoverable {
  position: static;
}

.help-hoverable > a:after {
  content: "\25BC";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.help-hoverable:hover .help-mega-menu {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
}

/* Help Mega menu */

.icon-box {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 1);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.1px);
  -webkit-backdrop-filter: blur(11.1px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.feature-box {
  background: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0.35),
      hsla(0, 0%, 100%, 0)
    ),
    #0054a6;

  backdrop-filter: blur(16.3px);
}

/* Fetaure hover  */
.clickevent {
  @media only screen and (max-width: 764px) {
    display: none !important;
    transition: all 1s ease-in-out !important;

    opacity: 0 !important;
  }
}

.hovercontent {
  visibility: visible;
  opacity: 1;
  position: absolute;
  left: 0;

  /* background-image: linear-gradient(
    to right bottom,
    #ec1b24,
    #f24a1b,
    #f66a14,
    #f88512,
    #f99e1b
  ); */
  background: linear-gradient(
      270deg,
      hsla(0, 0%, 100%, 0.35),
      hsla(0, 0%, 100%, 0)
    ),
    #f66a14;
  backdrop-filter: blur(16.3px);
  transform-origin: left;
  transform: scaleX(1);
  transition: all 0.5s ease-in-out;
}
.main-item {
  transition: all 1s ease-in-out;
}

.sectionhover:hover .hovercontent {
  @media only screen and (min-width: 765px) {
    transform: scaleX(0);
    opacity: 0;
    visibility: visible;
  }
}

/* Sticky Nav */

.scrolled {
  position: fixed;
  width: 100%;
  padding: 0.6rem 4rem;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
  /* background: linear-gradient(
    90.25deg,
    hsla(0, 0%, 98.8%, 0.35) 5.68%,
    hsla(0, 0%, 98.8%, 0.3) 143.91%
  );
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px); */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  background: #fff;

  @media only screen and (max-width: 765px) {
    padding: 1rem 1rem;
  }
}

.qx-section-29 {
  background-color: rgba(255, 255, 255, 1);
  background-image: url("../assets/images/Cloudy.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: border 0.3s ease-in, box-shadow 0.3s ease-in, background 0.3s,
    opacity 0.3s ease-in;
  transition: border 0.3s ease-in, box-shadow 0.3s ease-in, background 0.3s,
    opacity 0.3s ease-in;
}
.bank-bg {
  background-color: rgba(255, 255, 255, 1);
  background-image: url("../assets/images/World\ Map.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: border 0.3s ease-in, box-shadow 0.3s ease-in, background 0.3s,
    opacity 0.3s ease-in;
  transition: border 0.3s ease-in, box-shadow 0.3s ease-in, background 0.3s,
    opacity 0.3s ease-in;
}

.feature-bg {
  background-color: rgba(255, 255, 255, 1);
  background-image: url("../assets/images/Sound\ Wave.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: border 0.3s ease-in, box-shadow 0.3s ease-in, background 0.3s,
    opacity 0.3s ease-in;
  transition: border 0.3s ease-in, box-shadow 0.3s ease-in, background 0.3s,
    opacity 0.3s ease-in;
}
.download-bg {
  background-color: rgba(255, 255, 255, 1);
  background-image: url("../assets/images/Simple\ Shiny.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: border 0.3s ease-in, box-shadow 0.3s ease-in, background 0.3s,
    opacity 0.3s ease-in;
  transition: border 0.3s ease-in, box-shadow 0.3s ease-in, background 0.3s,
    opacity 0.3s ease-in;
}
